openapi: 3.0.3
info:
  title: SpringupAI Gateway API
  version: 2.0.0
  description: |
    Full API reference for SpringupAI. All protected routes require `Authorization: Bearer <jwt>`.
    Obtain a token via `/api/v1/user/register`, `/api/v1/auth/login`, or `/api/v1/vendor/login`.
servers:
  - url: https://api.springupai.com
    description: Production
  - url: http://localhost:8080
    description: Local

security: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    Token:
      type: object
      properties:
        token: { type: string }
    User:
      type: object
      properties:
        id: { type: string }
        phone: { type: string }
        name: { type: string }
        language: { type: string }
        location: { type: string }
        role: { type: string }
    Vendor:
      type: object
      properties:
        id: { type: string }
        phone: { type: string }
        name: { type: string }
        category: { type: string }
        location: { type: string }
        kyc_status: { type: string }
        tier: { type: string }
    Service:
      type: object
      properties:
        id: { type: string }
        vendor_id: { type: string }
        title: { type: string }
        description: { type: string }
        price_kobo: { type: integer }
        category: { type: string }
        location: { type: string }

tags:
  - name: Auth
    description: Registration, login, token lifecycle
  - name: User
    description: User profile management
  - name: Vendor
    description: Vendor registration, profile, KYC, services
  - name: Marketplace
    description: Service discovery and job lifecycle
  - name: Wallet
    description: Wallet funding, transfers, escrow
  - name: Escrow
    description: Escrow open/fund/confirm/dispute lifecycle
  - name: Payments
    description: Payment intents and webhooks
  - name: Payout
    description: Vendor payout requests and admin approval
  - name: Mediation
    description: Dispute mediation conversations
  - name: Bills
    description: Airtime, flights, utility bills (Remita)
  - name: Radio
    description: Audio streaming and track management
  - name: Ebook
    description: Ebook upload, purchase, hard-copy delivery
  - name: Admin
    description: Admin dashboard, reports, and management
  - name: Webhooks
    description: Inbound webhooks from payment providers and WhatsApp

paths:
  /api/v1/user/register:
    post:
      summary: Register user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone: { type: string }
                name: { type: string }
                language: { type: string }
                location: { type: string }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      phone: { type: string }
                      name: { type: string }
                      language: { type: string }
                      location: { type: string }
        '409':
          description: phone already registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "phone already registered" }
  /api/v1/vendor/register-by-phone:
    post:
      summary: Register vendor by phone (creates + links a user) â€” RECOMMENDED
      description: |
        Registers a vendor AND creates/links the underlying user record by phone in a
        single call. Use this for vendor sign-up: it is the only register path that
        creates a user, which is required for `/api/v1/vendor/login` to work afterwards.
        Returns `409` if the phone is already registered as a user or vendor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - name
                - category
              properties:
                phone: { type: string, description: Vendor's phone number (required, unique) }
                name: { type: string }
                category: { type: string }
                location: { type: string }
                area: { type: string }
                lat: { type: number }
                lng: { type: number }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: Vendor JWT (carries the real user_id) }
                  vendor:
                    type: object
                    properties:
                      id: { type: string }
                      user_id: { type: string }
                      phone: { type: string }
                      name: { type: string }
                      category: { type: string }
                      location: { type: string }
                      verified: { type: boolean }
                      kyc_status: { type: string }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      phone: { type: string }
        '409':
          description: phone already registered as a user or vendor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
  /api/v1/vendor/register:
    post:
      summary: Register vendor (phone-based, NO user created)
      description: |
        Register a vendor row using phone, name, category, and location. NOTE: unless a
        valid `user_id` is supplied, this does NOT create a user record â€” so vendors
        registered here CANNOT log in via `/api/v1/vendor/login` (which requires a user).
        For vendor sign-up prefer `/api/v1/vendor/register-by-phone`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - name
                - category
                - location
              properties:
                phone:
                  type: string
                  description: Vendor's phone number (required, must be unique)
                name:
                  type: string
                  description: Vendor's name
                category:
                  type: string
                  description: Vendor's category
                location:
                  type: string
                  description: Vendor's location
                user_id:
                  type: string
                  description: (Optional) Existing user ID. If omitted, user will be created by phone.
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Vendor JWT token
                  vendor:
                    type: object
                    properties:
                      id: { type: string }
                      user_id: { type: string }
                      name: { type: string }
                      category: { type: string }
                      location: { type: string }
                      verified: { type: boolean }
                      kyc_status: { type: string }
                  user_id:
                    type: string
                    description: User ID associated with vendor
                  vendor_unique:
                    type: string
                    description: Unique identifier for vendor (usually phone)
        '409':
          description: vendor already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
  /api/v1/vendor/login:
    post:
      summary: Vendor login by phone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  vendor_id: { type: string }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      phone: { type: string }
  /api/v1/admin/login:
    post:
      summary: Admin login (returns a 12h admin JWT)
      description: >
        Authenticate with the admin API key to receive an admin JWT. Send the key
        under "secret" (aliases also accepted: api_key, apiKey, key) or the
        X-Admin-Key header. The value must be the configured ADMIN_API_KEY
        (e.g. "dev-admin-key" locally) â€” not the literal string "ADMIN_API_KEY".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - secret
              properties:
                secret:
                  type: string
                  description: Admin API key value (the ADMIN_API_KEY secret)
                  example: dev-admin-key
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
        '401':
          description: unauthorized (missing or wrong admin key)
  /api/v1/radio/upload/presign:
    post:
      summary: Get a presigned S3 URL to upload a track directly (admin)
      security: [ { BearerAuth: [] } ]
      description: >
        Returns a presigned PUT URL so the browser uploads the audio file straight
        to S3 (no proxying â€” far faster). Measure progress client-side from the PUT
        (XHR/fetch upload progress vs file_size_bytes). After the PUT succeeds, call
        /radio/upload/complete with the track_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_name]
              properties:
                file_name: { type: string, example: song.mp3 }
                content_type: { type: string, example: audio/mpeg }
                title: { type: string }
                artist: { type: string }
                genre: { type: string }
                mood: { type: string }
                energy: { type: string }
                content_rating: { type: string }
                tags: { type: string }
                tenant_id: { type: string }
                admin_id: { type: string }
                file_size_bytes: { type: integer, description: used for progress UI }
                duration_secs: { type: integer }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  track_id: { type: string }
                  put_url: { type: string, description: PUT the file here directly }
                  file_key: { type: string }
                  content_type: { type: string }
                  expires_in_secs: { type: integer }
                  file_size_bytes: { type: integer }
                  upload_method: { type: string, example: PUT }
  /api/v1/radio/upload/presign/batch:
    post:
      summary: Presigned URLs for many tracks at once (admin)
      security: [ { BearerAuth: [] } ]
      description: >
        Returns a presigned PUT URL per file plus requested/ready counts and
        total_bytes, so the frontend uploads in parallel and shows an aggregate
        "N of M / X MB" progress bar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: batch name }
                admin_id: { type: string }
                files:
                  type: array
                  items:
                    type: object
                    properties:
                      file_name: { type: string }
                      content_type: { type: string }
                      title: { type: string }
                      artist: { type: string }
                      genre: { type: string }
                      mood: { type: string }
                      file_size_bytes: { type: integer }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch_id: { type: string }
                  requested: { type: integer }
                  ready: { type: integer }
                  total_bytes: { type: integer }
                  upload_method: { type: string, example: PUT }
                  tracks:
                    type: array
                    items:
                      type: object
                      properties:
                        track_id: { type: string }
                        put_url: { type: string }
                        file_key: { type: string }
                        file_name: { type: string }
                        content_type: { type: string }
                        expires_in_secs: { type: integer }
                        file_size_bytes: { type: integer }
  /api/v1/radio/upload/complete:
    post:
      summary: Activate a track after its direct-to-S3 upload (admin)
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [track_id]
              properties:
                track_id: { type: string }
                duration_secs: { type: integer }
                file_size_bytes: { type: integer }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  track_id: { type: string }
                  status: { type: string, example: active }
  /api/v1/vendor/kyc/presign:
    post:
      summary: Presigned PUT URL for uploading a KYC ID image (vendor)
      security: [ { BearerAuth: [] } ]
      description: >
        Returns a short-lived presigned S3 PUT URL the client uploads the ID image
        straight to (no byte-proxying). Resize to 512x512 and encode JPEG/WebP before
        the PUT â€” the converted file is stored, not the raw image. Locally the URL is
        signed against S3_PUBLIC_ENDPOINT (browser-reachable host) so the SigV4
        signature matches the request. NOTE: the gateway reads vendor_id and type
        from the JSON body (query params are ignored on this route).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vendor_id
                - type
              properties:
                vendor_id: { type: string }
                type: { type: string, example: national_id }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  put_url: { type: string, description: Presigned S3 PUT URL (expires in ~15 min) }
                  key: { type: string, example: "kyc/<vendor_id>/national_id" }
                  expires_in_secs: { type: string, example: "900" }
                  recommended: { type: string }
  /api/v1/vendor/kyc/submit:
    post:
      summary: Submit KYC (NIN/BVN) and initiate the verification payment (vendor)
      security: [ { BearerAuth: [] } ]
      description: >
        Submits the vendor's KYC identifiers and starts the â‚¦5,000 verification
        payment via Paystack. Returns immediately with status `payment_pending`
        (`paystack_status: simulated` when PAYSTACK_DEMO_MODE=true); the vendor is
        only marked verified later, after the Paystack webhook confirms the charge.
        Provide at least one of `nin` or `bvn`. Upload the ID image first via
        /vendor/kyc/presign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vendor_id
              properties:
                vendor_id: { type: string }
                nin: { type: string, description: National ID number (nin or bvn required) }
                bvn: { type: string, description: Bank Verification Number (nin or bvn required) }
                method: { type: string, example: nin }
                selfie_url: { type: string }
                doc_front_url: { type: string }
                doc_back_url: { type: string }
                email: { type: string, description: Optional; derived from vendor phone if omitted }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  vendor_id: { type: string }
                  nin: { type: string }
                  bvn: { type: string }
                  method: { type: string }
                  paystack_ref: { type: string }
                  paystack_status: { type: string, example: simulated }
                  status: { type: string, example: payment_pending }
                  updated_at: { type: string, format: date-time }
        '400':
          description: vendor_id required, or nin/bvn missing
        '502':
          description: KYC service unreachable or payment init failed
  /api/v1/vendor/kyc/status:
    get:
      summary: Get KYC status for a vendor (vendor/admin)
      security: [ { BearerAuth: [] } ]
      description: >
        Returns the current KYC record/status for a vendor. If `vendorId` is omitted,
        it is resolved from the authenticated vendor's user id.
      parameters:
        - in: query
          name: vendorId
          required: false
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  vendor_id: { type: string }
                  status: { type: string, example: payment_pending }
                  paystack_status: { type: string }
                  method: { type: string }
        '400':
          description: vendorId required (could not be resolved)
  /api/v1/vendor/kyc/document:
    get:
      summary: Presigned GET URL for a stored KYC ID image (vendor/admin)
      security: [ { BearerAuth: [] } ]
      description: >
        Returns a short-lived presigned GET URL for the frontend-converted 512x512
        ID image stored in S3. The upload side uses /vendor/kyc/presign â€” the client
        resizes to 512x512 and encodes JPEG/WebP before the direct PUT (we store the
        converted file, not raw).
      parameters:
        - in: query
          name: vendor_id
          required: true
          schema: { type: string }
        - in: query
          name: type
          required: true
          schema: { type: string, example: nin }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  get_url: { type: string }
                  key: { type: string }
  /api/v1/vendor/services:
    get:
      summary: List vendor services
      security: [ { BearerAuth: [] } ]
      parameters:
        - in: query
          name: vendorId
          schema: { type: string }
          required: true
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    vendor_id: { type: string }
                    title: { type: string }
                    description: { type: string }
                    price: { type: integer }
                    available: { type: boolean }
  /api/v1/vendor/services/create:
    post:
      summary: Create vendor service
      description: Requires verified KYC and an active paid vendor tier.
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vendor_id: { type: string }
                title: { type: string }
                description: { type: string }
                price: { type: integer }
                available: { type: boolean }
      responses:
        '201':
          description: created
        '500':
          description: vendor is not KYC verified or has no active paid tier
  /api/v1/vendor/tier/apply:
    post:
      summary: Apply for a paid vendor tier
      description: >
        Initializes a Paystack transaction for the vendor tier application and returns
        the Paystack public key so the FRONTEND completes payment (Paystack Inline) â€”
        the backend does not call Paystack directly. Requires completed KYC. A
        successful Paystack webhook (/api/v1/payments/webhook/paystack) activates the
        tier automatically. Tiers lift the service-listing cap: gold = 3, silver = 5,
        platinum = unlimited. A verified vendor with NO active tier (free plan) may
        create 1 service listing; creating a 2nd returns an upgrade error.
        tier_level accepts gold/silver/platinum or tier_1/tier_2/tier_3.
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vendor_id
                - tier_level
              properties:
                vendor_id: { type: string }
                tier_level:
                  type: string
                  enum: [tier_1, tier_2, tier_3]
                email: { type: string, format: email }
                callback_url: { type: string, format: uri }
      responses:
        '201':
          description: payment initialized
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_id: { type: string }
                  owner_id: { type: string }
                  purpose: { type: string }
                  amount: { type: integer, description: Amount in kobo }
                  currency: { type: string }
                  provider: { type: string }
                  client_reference: { type: string }
                  provider_reference: { type: string }
                  authorization_url: { type: string, format: uri }
                  access_code: { type: string }
                  status: { type: string, example: pending }
                  paystack_public_key: { type: string }
                  tier_level: { type: string }
        '400':
          description: invalid request or vendor not yet KYC verified
  /api/v1/vendor/kyc/activate:
    post:
      deprecated: true
      summary: Legacy vendor KYC initiation route
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string }
                vendor_id: { type: string }
                location: { type: string }
      responses:
        '200':
          description: vendor must complete submit-and-pay KYC flow
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: kyc_submission_required }
                  vendor_id: { type: string }
                  deprecated: { type: boolean }
                  next_step: { type: string, example: /api/v1/vendor/kyc/submit }
                  description: { type: string }
  /api/v1/vendor/plan/check:
    get:
      summary: Check vendor tier status
      security: [ { BearerAuth: [] } ]
      parameters:
        - in: query
          name: vendorId
          schema: { type: string }
          required: true
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  active: { type: boolean }
                  plan: { type: string }
                  tier_status: { type: string }
                  expires_at: { type: string, format: date-time }
  /api/v1/bills/remita/catalog:
    get:
      summary: Get Remita VAS service list and commissions
      description: Signed-in users and vendors can browse the supported Remita VAS, vending, and commission catalog.
      security: [ { BearerAuth: [] } ]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider: { type: string, example: remita }
                  source: { type: string, example: embedded }
                  remote_configured: { type: boolean }
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        category: { type: string }
                        biller_name: { type: string }
                        commission: { type: string }
                        commission_type: { type: string }
                        commission_value: { type: number }
                        commission_unit: { type: string }
                        provider: { type: string }
                        supports_vending: { type: boolean }
                        requires_amount: { type: boolean }
                        requires_customer_reference: { type: boolean }
  /api/v1/bills/remita/categories:
    get:
      summary: Get Remita vending categories
      description: Proxies the Remita Connect categories endpoint. In local development, configure REMITA_BASE_URL to the dev Connect base URL and this route will call /api/v1/vending/categories with page and size query params.
      security: [ { BearerAuth: [] } ]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 0 }
        - in: query
          name: size
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Approved or completed successfully }
                  status: { type: string, example: '00' }
                  data:
                    type: object
                    properties:
                      totalPage: { type: integer, example: 1 }
                      totalContent: { type: integer, example: 6 }
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: integer, example: 1 }
                            name: { type: string, example: electricity }
                            description: { type: string, example: electricity }
                            code: { type: string, example: electricity }
        '502':
          description: Remita categories fetch failed or service unavailable
  /api/v1/bills/remita/vend:
    post:
      summary: Vend a Remita service for a signed-in user or vendor
      description: Debits the caller wallet and forwards the request to the configured Remita vending endpoint.
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - biller_name
                - customer_reference
                - amount
              properties:
                owner_id: { type: string, description: Optional. Defaults to authenticated user id. }
                category: { type: string }
                biller_name: { type: string }
                service_type_id: { type: string }
                product_code: { type: string }
                customer_reference: { type: string }
                phone: { type: string }
                email: { type: string, format: email }
                amount: { type: integer, description: Amount in kobo/minor unit as used by the wallet service. }
                currency: { type: string, example: NGN }
                narration: { type: string }
      responses:
        '200':
          description: vend success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  provider: { type: string }
                  reference: { type: string }
                  message: { type: string }
                  payload: { type: object }
        '502':
          description: Remita vend failed or service unavailable
  /api/v1/kyc/webhook/paystack:
    post:
      summary: Receive Paystack webhook for vendor KYC payments
      description: Public webhook endpoint proxied to the KYC service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: webhook accepted
        '401':
          description: invalid Paystack signature
  /api/v1/payments/webhook/paystack:
    post:
      summary: Receive Paystack webhook for vendor tier payments
      description: Public webhook endpoint proxied to the payments service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: webhook accepted
        '401':
          description: invalid Paystack signature
  /api/v1/admin/vendor/kyc-override:
    post:
      summary: Admin override KYC status
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vendor_id: { type: string }
                kyc_status: { type: string }
      responses:
        '200': { description: updated }
  /api/v1/admin/users:
    get:
      summary: List users (admin)
      security: [ { BearerAuth: [] } ]
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: pageSize
          schema: { type: integer }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        phone: { type: string }
                        name: { type: string }
                        language: { type: string }
                        location: { type: string }
                  total: { type: integer }
                  page: { type: integer }
                  page_size: { type: integer }
  /api/v1/admin/vendors:
    get:
      summary: List vendors (admin)
      security: [ { BearerAuth: [] } ]
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: pageSize
          schema: { type: integer }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        user_id: { type: string }
                        name: { type: string }
                        category: { type: string }
                        location: { type: string }
                        verified: { type: boolean }
                        kyc_status: { type: string }
                  total: { type: integer }
                  page: { type: integer }
                  page_size: { type: integer }
  /api/v1/marketplace/search:
    post:
      summary: Search marketplace
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category: { type: string }
                location: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  vendors:
                    type: array
                    items:
                      type: object
                      properties:
                        vendor_id: { type: string }
                        name: { type: string }
                        verified: { type: boolean }
                        location: { type: string }
  /api/v1/wallet/fund:
    post:
      summary: Fund wallet
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id: { type: string }
                amount: { type: integer }
                provider: { type: string }
                ref: { type: string }
      responses:
        '200': { description: ok }
  /api/v1/wallet/escrow:
    post:
      summary: Hold payment in escrow
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string }
                from_id: { type: string }
                to_id: { type: string }
                amount: { type: integer }
      responses:
        '200': { description: held }
  /api/v1/wallet/release:
    post:
      summary: Release escrow
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string }
      responses:
        '200': { description: released }
  /api/v1/wallet/refund:
    post:
      summary: Refund escrow
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string }
      responses:
        '200': { description: refunded }
  /api/v1/wallet/withdraw:
    post:
      summary: Withdraw funds
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id: { type: string }
                amount: { type: integer }
      responses:
        '200': { description: ok }
  /api/v1/auth/refresh:
    post:
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: new token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
  /api/v1/auth/revoke:
    post:
      summary: Revoke access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
      responses:
        '204': { description: revoked }
  /api/v1/auth/login:
    post:
      summary: Login existing user by phone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  refresh_token: { type: string }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      phone: { type: string }
                      name: { type: string }
                      language: { type: string }
                      location: { type: string }
        '404': { description: user not found }
  /api/v1/webhook/whatsapp:
    get:
      summary: WhatsApp webhook verification (Meta)
      parameters:
        - in: query
          name: hub.mode
          schema: { type: string }
        - in: query
          name: hub.challenge
          schema: { type: string }
        - in: query
          name: hub.verify_token
          schema: { type: string }
      responses:
        '200': { description: challenge echoed }
        '403': { description: verification failed }
    post:
      summary: WhatsApp webhook (auto-register)
      responses:
        '200': { description: ok }
  /api/v1/marketplace/job/accept:
    post:
      summary: Accept job
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string }
                vendor_id: { type: string }
      responses:
        '200': { description: accepted }
  /api/v1/marketplace/job/complete:
    post:
      summary: Complete job
      security: [ { BearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string }
      responses:
        '200': { description: completed }

  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
  # Radio â€” Audio Streaming
  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

  /api/v1/radio/preload:
    get:
      summary: Get preload manifest (10 shuffled tracks with CDN URLs)
      description: |
        Returns 10 shuffled tracks for offline buffering. Client should preload all URLs.
        At track 8 (next_check_at), call /radio/check before continuing.
        If user is blocked (24h cooldown), returns 403 with blocked_until timestamp.
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: Preload manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: string }
                  next_check_at: { type: integer, example: 8 }
                  tracks:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        title: { type: string }
                        artist: { type: string }
                        duration_secs: { type: integer }
                        stream_url: { type: string, description: "Signed CloudFront URL or /radio/stream/{id} fallback" }
                        index: { type: integer }
        '403':
          description: User blocked (24h cooldown â€” no purchase detected)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "come_back_later" }
                  message: { type: string }
                  blocked_until: { type: string, format: date-time }

  /api/v1/radio/stream/{track_id}:
    get:
      summary: Stream audio track (byte-stream or CDN redirect)
      description: |
        Returns 302 redirect to a presigned S3 GET URL (browser follows automatically).
        In local dev redirects to localhost:9000 (MinIO); in production to CloudFront or S3.
        Supports Range headers for byte-range requests. Requires a preload session.
      security: [{ BearerAuth: [] }]
      parameters:
        - name: track_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Audio byte stream
          content:
            audio/mpeg: { schema: { type: string, format: binary } }
        '302': { description: Redirect to CloudFront signed URL }
        '404': { description: Track not found }

  /api/v1/radio/check:
    post:
      summary: Purchase gate check (call at track 8 or playlist end)
      description: |
        Verifies user has made a purchase from any tenant in last 24h.
        If yes: returns "continue" action with next 10-track manifest.
        If no: blocks user for 24 hours, returns "stop" action.
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id: { type: string }
      responses:
        '200':
          description: Continue playing
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { type: string, enum: [continue] }
                  manifest: { type: object }
        '403':
          description: Blocked â€” no purchase
          content:
            application/json:
              schema:
                type: object
                properties:
                  action: { type: string, enum: [stop] }
                  message: { type: string }
                  blocked: { type: boolean }

  /api/v1/radio/upload:
    post:
      summary: "[Admin] Upload single audio track (mp3/wav)"
      description: Multipart upload. Max 50MB. Only mp3 and wav accepted.
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
                title: { type: string }
                artist: { type: string }
                genre: { type: string }
                album: { type: string }
                mood: { type: string }
                admin_id: { type: string }
      responses:
        '201':
          description: Track uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  track_id: { type: string }
                  title: { type: string }
                  artist: { type: string }
                  genre: { type: string }
                  status: { type: string, example: "uploaded" }

  /api/v1/radio/upload/batch:
    post:
      summary: "[Admin] Upload up to 10 tracks at once"
      description: Multipart batch upload. Max 200MB total. Provide files[] array.
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files: { type: array, items: { type: string, format: binary } }
                name: { type: string, description: "Batch name" }
                admin_id: { type: string }
                title_0: { type: string }
                artist_0: { type: string }
      responses:
        '201':
          description: Batch results
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch_id: { type: string }
                  results: { type: array, items: { type: object } }

  /api/v1/radio/tracks:
    get:
      summary: "[Admin] List all tracks"
      security: [{ BearerAuth: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Track list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    title: { type: string }
                    artist: { type: string }
                    file_type: { type: string }
                    play_count: { type: integer }
                    is_active: { type: boolean }

  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
  # Ebook â€” E-Publishing & Hard Copy Delivery
  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

  /api/v1/ebook/upload:
    post:
      summary: "[Admin/Vendor] Upload ebook (PDF)"
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
                title: { type: string }
                author: { type: string }
                price: { type: integer, description: "Price in kobo" }
      responses:
        '201': { description: Ebook uploaded }

  /api/v1/ebook/list:
    get:
      summary: List available ebooks
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Ebook catalog }

  /api/v1/ebook/purchase:
    post:
      summary: Purchase ebook (digital)
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ebook_id: { type: string }
      responses:
        '200': { description: Purchase complete with reader link }

  /api/v1/ebook/hard-copy/purchase:
    post:
      summary: Purchase hard copy (escrow-backed delivery)
      description: |
        Payment held in escrow. Vendor ships within timeframe.
        Auto-released 48h after delivery confirmation.
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ebook_id: { type: string }
                delivery_address: { type: string }
                delivery_phone: { type: string }
      responses:
        '200': { description: Order created with escrow }

  /api/v1/ebook/hard-copy/status/{order_id}:
    get:
      summary: Check hard copy delivery status
      security: [{ BearerAuth: [] }]
      parameters:
        - name: order_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Delivery status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [pending, shipped, delivered, confirmed] }
                  tracking_number: { type: string }

  /api/v1/ebook/hard-copy/confirm:
    post:
      summary: Buyer confirms delivery received
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id: { type: string }
      responses:
        '200': { description: Delivery confirmed, escrow released to vendor }

  /api/v1/ebook/advance/request:
    post:
      summary: "[Vendor] Request advance on pending escrow (max 40%)"
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id: { type: string }
                amount: { type: integer, description: "Amount in kobo (max 40% of escrow)" }
                reason: { type: string }
      responses:
        '200': { description: Advance request submitted for review (3 working days) }

  /api/v1/ebook/advance/review:
    post:
      summary: "[Admin] Approve or reject vendor advance request"
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id: { type: string }
                decision: { type: string, enum: [approve, reject] }
                reason: { type: string }
      responses:
        '200': { description: Decision recorded }

  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
  # 3rd-Party Embed â€” API Key Protected (no JWT needed)
  # â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

  /api/v1/embed/radio/preload:
    get:
      summary: "[3rd-Party] Get radio preload manifest via API key"
      description: |
        For external platforms embedding SpringUp Radio.
        Requires X-Embed-Key header (issued by admin).
      parameters:
        - name: X-Embed-Key
          in: header
          required: true
          schema: { type: string }
        - name: listener_id
          in: query
          required: true
          schema: { type: string, description: "Unique listener identifier from your platform" }
      responses:
        '200': { description: Preload manifest with signed URLs }
        '401': { description: Missing embed key }
        '403': { description: Invalid embed key }

  /api/v1/embed/radio/stream/{track_id}:
    get:
      summary: "[3rd-Party] Stream track via API key"
      parameters:
        - name: X-Embed-Key
          in: header
          required: true
          schema: { type: string }
        - name: track_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Audio stream }
        '302': { description: CDN redirect }

  /api/v1/admin/embed-key/create:
    post:
      summary: "[Admin] Create API key for 3rd-party platform"
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tenant_name: { type: string, example: "BlogPlatformXYZ" }
                domain: { type: string, example: "https://blogxyz.com" }
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  embed_key: { type: string }
                  tenant_name: { type: string }
                  usage: { type: string }

  /api/v1/admin/embed-key/revoke:
    post:
      summary: "[Admin] Revoke 3rd-party API key"
      security: [{ BearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                embed_key: { type: string }
      responses:
        '200': { description: Key revoked }


  # â”€â”€ AUTH extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/auth/vendor-token:
    post:
      tags: [Auth]
      summary: Mint vendor-role token for authenticated user
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: Vendor token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Token' }

  # â”€â”€ USER â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/user/profile:
    get:
      tags: [User]
      summary: Get authenticated user profile
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /api/v1/user/update:
    patch:
      tags: [User]
      summary: Update user profile
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                language: { type: string }
                location: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  # â”€â”€ VENDOR extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/vendor/update:
    patch:
      tags: [Vendor]
      summary: Update vendor profile
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                category: { type: string }
                location: { type: string }
                bio: { type: string }
      responses:
        '200':
          description: Updated vendor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vendor' }

  /api/v1/vendor/profile:
    get:
      tags: [Vendor]
      summary: Get a vendor's public profile card (trust signals, ratings, KYC status)
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: vendor_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Vendor profile with trust signals }

  /api/v1/vendor/contact:
    post:
      tags: [Vendor]
      summary: Send a message to a vendor
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendor_id, message]
              properties:
                vendor_id: { type: string }
                message: { type: string }
      responses:
        '200': { description: Message sent }

  /api/v1/vendor/materials/upload:
    post:
      tags: [Vendor]
      summary: Upload delivery material for a job
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id, url]
              properties:
                escrow_id: { type: string }
                url: { type: string }
                notes: { type: string }
      responses:
        '200': { description: Material uploaded }

  /api/v1/vendor/materials/confirm:
    post:
      tags: [Vendor]
      summary: Vendor confirms material delivery
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id]
              properties:
                escrow_id: { type: string }
      responses:
        '200': { description: Delivery confirmed }

  # â”€â”€ MARKETPLACE extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/marketplace/search/enriched:
    post:
      tags: [Marketplace]
      summary: AI-enriched service search with vendor trust signals
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category: { type: string }
                location: { type: string }
                query: { type: string }
      responses:
        '200': { description: Enriched search results }

  # â”€â”€ ESCROW â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/escrow/open:
    post:
      tags: [Escrow]
      summary: Open a new escrow
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendor_id, amount_kobo, description]
              properties:
                vendor_id: { type: string }
                amount_kobo: { type: integer }
                description: { type: string }
      responses:
        '201':
          description: Escrow opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  escrow_id: { type: string }
                  status: { type: string }

  /api/v1/escrow/mark-funded:
    post:
      tags: [Escrow]
      summary: Mark escrow as funded after payment
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id]
              properties:
                escrow_id: { type: string }
      responses:
        '200': { description: Escrow marked funded }

  /api/v1/escrow/start-service:
    post:
      tags: [Escrow]
      summary: Vendor marks service as started
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id]
              properties:
                escrow_id: { type: string }
      responses:
        '200': { description: Service started }

  /api/v1/escrow/confirm:
    post:
      tags: [Escrow]
      summary: User confirms service delivery â€” releases funds to vendor
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id]
              properties:
                escrow_id: { type: string }
      responses:
        '200': { description: Funds released to vendor }

  /api/v1/escrow/confirm-satisfaction:
    post:
      tags: [Escrow]
      summary: User confirms satisfaction with optional rating
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id]
              properties:
                escrow_id: { type: string }
                rating: { type: integer, minimum: 1, maximum: 5 }
                feedback: { type: string }
      responses:
        '200': { description: Satisfaction confirmed }

  /api/v1/escrow/dispute:
    post:
      tags: [Escrow]
      summary: Raise a dispute â€” triggers mediation
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id, reason]
              properties:
                escrow_id: { type: string }
                reason: { type: string }
      responses:
        '200': { description: Dispute raised }

  /api/v1/escrow/get:
    get:
      tags: [Escrow]
      summary: Get escrow details
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: escrow_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Escrow details }

  /api/v1/escrow/status:
    get:
      tags: [Escrow]
      summary: Get escrow status
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: escrow_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Status }

  # â”€â”€ WALLET extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/wallet/virtual-account:
    post:
      tags: [Wallet]
      summary: Create a dedicated virtual bank account for wallet funding
      security: [{ BearerAuth: [] }]
      responses:
        '201':
          description: Virtual account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_number: { type: string }
                  bank_name: { type: string }
                  account_name: { type: string }

  /api/v1/wallet/transfer/internal:
    post:
      tags: [Wallet]
      summary: Transfer funds to another SpringupAI user
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipient_id, amount_kobo]
              properties:
                recipient_id: { type: string }
                amount_kobo: { type: integer }
                note: { type: string }
      responses:
        '200': { description: Transfer successful }

  /api/v1/wallet/transfer/external:
    post:
      tags: [Wallet]
      summary: Transfer funds to external bank account
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_kobo, bank_code, account_number]
              properties:
                amount_kobo: { type: integer }
                bank_code: { type: string }
                account_number: { type: string }
      responses:
        '200': { description: Transfer initiated }

  /api/v1/wallet/webhook/paystack:
    post:
      tags: [Webhooks]
      summary: Paystack wallet funding webhook (public)
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Processed }

  # â”€â”€ PAYMENTS extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/payments/intents:
    post:
      tags: [Payments]
      summary: Create a payment intent
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_kobo, purpose]
              properties:
                amount_kobo: { type: integer }
                purpose: { type: string }
                escrow_id: { type: string }
      responses:
        '201':
          description: Payment intent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_id: { type: string }
                  payment_url: { type: string }

  /api/v1/payments/confirm:
    post:
      tags: [Payments]
      summary: Admin confirms a payment
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_id]
              properties:
                payment_id: { type: string }
      responses:
        '200': { description: Payment confirmed }

  /api/v1/payments/get:
    get:
      tags: [Payments]
      summary: Get payment details
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: payment_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Payment details }

  # â”€â”€ PAYOUT â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/payout/request:
    post:
      tags: [Payout]
      summary: Vendor requests a payout
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_kobo, bank_code, account_number]
              properties:
                amount_kobo: { type: integer }
                bank_code: { type: string }
                account_number: { type: string }
                account_name: { type: string }
      responses:
        '201':
          description: Payout request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout_id: { type: string }
                  status: { type: string }

  /api/v1/payout/approve:
    post:
      tags: [Payout]
      summary: Admin approves payout
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payout_id]
              properties:
                payout_id: { type: string }
      responses:
        '200': { description: Payout approved }

  /api/v1/payout/complete:
    post:
      tags: [Payout]
      summary: Admin marks payout as completed
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payout_id]
              properties:
                payout_id: { type: string }
                transfer_reference: { type: string }
      responses:
        '200': { description: Payout completed }

  /api/v1/payout/fail:
    post:
      tags: [Payout]
      summary: Admin marks payout as failed
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payout_id, reason]
              properties:
                payout_id: { type: string }
                reason: { type: string }
      responses:
        '200': { description: Payout failed }

  /api/v1/payout/get:
    get:
      tags: [Payout]
      summary: Get payout details
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: payout_id
          schema: { type: string }
      responses:
        '200': { description: Payout details }

  # â”€â”€ MEDIATION â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/mediation/conversations/open:
    post:
      tags: [Mediation]
      summary: Open a mediation conversation on a disputed escrow
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id, message]
              properties:
                escrow_id: { type: string }
                message: { type: string }
      responses:
        '201':
          description: Conversation opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation_id: { type: string }

  /api/v1/mediation/messages/relay:
    post:
      tags: [Mediation]
      summary: Send a message in a mediation conversation
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [conversation_id, message]
              properties:
                conversation_id: { type: string }
                message: { type: string }
      responses:
        '200': { description: Message relayed }

  /api/v1/mediation/conversations:
    get:
      tags: [Mediation]
      summary: List mediation conversations
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: escrow_id
          schema: { type: string }
      responses:
        '200': { description: Conversations list }

  # â”€â”€ BILLS extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/bills/airtime:
    post:
      tags: [Bills]
      summary: Purchase airtime
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, amount_kobo, network]
              properties:
                phone: { type: string, example: "2348012345678" }
                amount_kobo: { type: integer, example: 100000 }
                network: { type: string, enum: [mtn, airtel, glo, 9mobile] }
      responses:
        '200': { description: Airtime purchased }

  /api/v1/bills/flights/search:
    get:
      tags: [Bills]
      summary: Search for flights
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: origin
          required: true
          schema: { type: string, example: "LOS" }
        - in: query
          name: destination
          required: true
          schema: { type: string, example: "ABV" }
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
        - in: query
          name: passengers
          schema: { type: integer, default: 1 }
      responses:
        '200': { description: Available flights }

  /api/v1/bills/flights/book:
    post:
      tags: [Bills]
      summary: Book a flight
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [flight_id, passengers]
              properties:
                flight_id: { type: string }
                passengers:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      email: { type: string }
                      phone: { type: string }
      responses:
        '201': { description: Flight booked }

  # â”€â”€ RADIO extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  # â”€â”€ EBOOK extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  # â”€â”€ AI â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/ai/stream:
    post:
      tags: [Auth]
      summary: AI assistant streaming chat (SSE) â€” finds services, checks balance, places orders
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, example: "Find me a plumber in Lagos under â‚¦5000" }
                session_id: { type: string }
      responses:
        '200':
          description: Server-sent events stream of AI response

  # â”€â”€ ADMIN extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  /api/v1/admin/dashboard:
    get:
      tags: [Admin]
      summary: Admin dashboard summary stats
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Dashboard stats }

  /api/v1/admin/user:
    delete:
      tags: [Admin]
      summary: Delete a user
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: user_id
          required: true
          schema: { type: string }
      responses:
        '204': { description: User deleted }

  /api/v1/admin/dispute/resolve:
    post:
      tags: [Admin]
      summary: Admin resolves a disputed escrow
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escrow_id, resolution]
              properties:
                escrow_id: { type: string }
                resolution: { type: string, enum: [refund_user, release_vendor, split] }
                notes: { type: string }
      responses:
        '200': { description: Dispute resolved }

  /api/v1/admin/vendor/suspend:
    post:
      tags: [Admin]
      summary: Suspend a vendor
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendor_id, reason]
              properties:
                vendor_id: { type: string }
                reason: { type: string }
      responses:
        '200': { description: Vendor suspended }

  /api/v1/admin/vendor/unsuspend:
    post:
      tags: [Admin]
      summary: Unsuspend a vendor
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendor_id]
              properties:
                vendor_id: { type: string }
      responses:
        '200': { description: Vendor unsuspended }

  /api/v1/admin/vendor/approve:
    post:
      tags: [Admin]
      summary: Approve or reject a vendor application
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendor_id, approved]
              properties:
                vendor_id: { type: string }
                approved: { type: boolean }
                reason: { type: string }
      responses:
        '200': { description: Decision recorded }

  /api/v1/admin/reports/revenue:
    get:
      tags: [Admin]
      summary: Revenue report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Revenue data }

  /api/v1/admin/reports/purchases:
    get:
      tags: [Admin]
      summary: Purchase report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Purchase data }

  /api/v1/admin/reports/escrow:
    get:
      tags: [Admin]
      summary: Escrow report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Escrow data }

  /api/v1/admin/reports/settlements:
    get:
      tags: [Admin]
      summary: Settlements report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Settlement data }

  /api/v1/admin/reports/commissions:
    get:
      tags: [Admin]
      summary: Commissions report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Commission data }

  /api/v1/admin/reports/engagement:
    get:
      tags: [Admin]
      summary: User engagement report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Engagement data }

  /api/v1/admin/reports/online:
    get:
      tags: [Admin]
      summary: Currently online vendors/users
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Online status data }

  /api/v1/admin/reports/suspensions:
    get:
      tags: [Admin]
      summary: Suspension report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Suspension data }

  /api/v1/admin/reports/kyc:
    get:
      tags: [Admin]
      summary: KYC report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: KYC data }

  /api/v1/admin/reports/pending-payments:
    get:
      tags: [Admin]
      summary: Pending payments report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Pending payment data }

  /api/v1/admin/reports/resolutions:
    get:
      tags: [Admin]
      summary: Dispute resolutions report
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: Resolution data }

  /api/v1/admin/ml/metrics:
    get:
      tags: [Admin]
      summary: ML model metrics
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: ML metrics }

  /api/v1/admin/ml/rules:
    post:
      tags: [Admin]
      summary: Create an ML moderation rule
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rule_type: { type: string }
                condition: { type: string }
                action: { type: string }
      responses:
        '201': { description: Rule created }
    patch:
      tags: [Admin]
      summary: Update an ML rule
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rule_id: { type: string }
                condition: { type: string }
                action: { type: string }
      responses:
        '200': { description: Rule updated }

  /api/v1/admin/logs/events:
    get:
      tags: [Admin]
      summary: Event log viewer
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200': { description: Event logs }

  # â”€â”€ WEBHOOKS extras â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  # â”€â”€ EMBED â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
  # (defined above in 3rd-Party Embed section)
